{% extends "base.html" %}

{% block content %}
<section class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex items-center justify-center w-full max-w-md">
        <label for="dropzone-file" id="dropzone-label" class="flex flex-col items-center justify-center w-96 h-64 border-2 border-gray-100 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p id="upload-message" class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Clique para upar</span> ou arraste o arquivo</p>
                <p id="file-info" class="text-xs text-gray-500 dark:text-gray-400">Arquivo SPED.txt (MAX. 2MB)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
        </label>
    </div>
    <div class="mt-4">
        <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-500 dark:text-gray-400 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">Processar</button>
    </div>
</section>

<script>
document.getElementById('dropzone-file').addEventListener('change', function(event) {
    const fileInput = event.target;
    const uploadMessage = document.getElementById('upload-message');
    const fileInfo = document.getElementById('file-info');
    
    if (fileInput.files.length > 0) {
        const fileName = fileInput.files[0].name;
        uploadMessage.textContent = `File "${fileName}" uploaded successfully.`;
        uploadMessage.classList.remove('text-gray-500');
        uploadMessage.classList.add('text-green-500');

        fileInfo.style.display = 'none';

        fileInput.disabled = true;
        const dropzoneLabel = document.getElementById('dropzone-label');
        dropzoneLabel.classList.add('cursor-not-allowed', 'opacity-50');
    }
});
</script>
{% endblock %}